:root {
    /* Primary brand color, based on the car's orange */
    --primary-color: #E76F00;

    /* Complementary dark shade for text and accents */
    --secondary-color: #333333;

    /* Light shade for backgrounds, provides contrast */
    --background-color: #F8F8F8;

    /* Accent color for call to actions and highlights */
    --accent-color: #FFD500;

    /* Additional accent color for design elements */
    --additional-accent-color: #FFFFFF;

    /* Navbar and footer color, darker shade for grounding */
    --navbar-footer-color: #1A1A1A;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

body {
    color: white;
}

header {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #a12f01, #f28646 );
    position: fixed;
    top: 0;
    left: 0;
}

#logo-image {
    margin-left: 30px;
    min-height: 100px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    height: 100%;
    width: 40%;
    margin-right: 10%;
}

.menu-item {
    width: 100%;
    min-width: 100px;
}

#menu a {
    text-decoration: none;
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: white;
    font-size: calc(1vw + 10px);
    border-top: 0;
}

#menu a:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgb(255, 102, 0);
}

h1 {
    font-size: calc(5vw + 10px);
    text-transform: uppercase;
}

h2 {
    font-size: calc(3vw + 10px);
}

h3 {
    font-size: calc(1vw + 10px);
    font-style: italic;
}

h1, h2, h3 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#home {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
}

#home, #rules, #enter-giveaway {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #a12f01, #f28646 );
}

#rules {
    border-top: 40px solid var(--navbar-footer-color);
    border-bottom: 40px solid var(--navbar-footer-color);
}

#rules, #enter-giveaway {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

#rules {
    padding-top: 40px;
}

#enter-giveaway {
    padding-top: 80px;
}

#enter-title, #rules-title {
    font-size: calc(3vw + 10px);
    margin-bottom: 70px;
}


.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-left: -5%;
}

#car {
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

#enter-button {
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    font-size: calc(1vw + 10px);
    border-radius: 15% 15% 15% 15%;
    font-weight: 900;
    animation: Pulse 3s infinite;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 75%);
    color: RGB(255, 255, 255);
    width: 40%;
    min-width: 200px;
}

#enter-button:hover {
    animation: Pulse 0.5s infinite;
    background-color: rgba(255, 255, 255, 1);
    color: rgb(255, 102, 0);
}

@keyframes Pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    color: white;
    background: linear-gradient(90deg, #a12f01, #f28646 );
    padding: 0 30px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.highlight {
    color: #FFD700;
    font-weight: bold;
}

.brand-name {
    color: white;
    font-style: italic;
    text-decoration: underline;
}

.accent {
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.7);
    font-size: 1.2em;
}

#rules::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1); /* Semi-transparent white overlay */
    z-index: -1;
}

#rules-description {
    max-width: 80%;
    margin: 0 auto 2em;
    font-size: 1.75rem;
    padding: 0 5%;
}

#rules-list {
    text-align: justify;
    margin-top: 25px;
}

.rule-item {
    background: rgba(0, 0, 0, 0.2); /* Slight dark background for each item */
    margin: 20px 0;
    padding: 2.5%;
    border-radius: 5px;
    position: relative;
    transition: background-color 0.3s;
}

.rule-item:hover {
    background: rgba(0, 0, 0, 0.3); /* Darken on hover */
}


.enter-description-container p:last-of-type {
    margin-top: 30px;
}

.enter-container {
    margin: 0 auto;
    width: 60%; /* Adjusted for better form visibility */
    background-color: rgba(0, 0, 0, 0.5);
    height: auto; /* Adjusted for content size */
    display: flex;
    border-radius: 25px; /* Smoothed the border-radius */
    overflow: hidden; /* To respect border-radius of child elements */
    padding: 20px; /* Added padding for spacing */
}

.enter-description-container {
    padding: 20px;
    background-color: white;
    color: var(--secondary-color); /* Consistent text color */
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align text to start */
    border-radius: 25px;
}

.enter-form-container {
    background-color: transparent; 
    color: white;
    flex-basis: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.enter-form-container h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

.enter-form-container form {
    width: 90%; 
    margin: 30px auto;
}

.questions-and-responses {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-row {
    display: grid;
    grid-template-columns: 55% 45%; 
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    text-align: right; /* Aligns labels to the right for better alignment with inputs */
    padding-right: 10px; /* Adds spacing between label and input */
}

.form-row label a {
    color: white;
}

.form-row input[type="text"],
.form-row input[type="number"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="date"] {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row input[type="checkbox"] {
    grid-column: 2 / 3; /* Position checkboxes in the second column */
    justify-self: start; /* Align checkboxes to the start of the second column */
    width: 20px; /* Checkbox width */
    height: 20px; /* Checkbox height */
    margin-left: 0; /* Remove any left margin */
}

.submit-row {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.submit-row input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    width: auto; /* Auto width for button */
    font-size: 18px;
}

.submit-row input[type="submit"]:hover {
    background-color: #45a049;
}



.bolden {
    font-weight: 900;
}



@media only screen and (max-width: 1300px) {
    #home {
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 60px;
        padding: 0;
        height: 100vh;
    }

    .text-container {
        width: 100%;
        padding-top: 30px;
    }

    .image-container {
        width: 80%;
        justify-content: center;
        margin: 0;
        margin-top: 60px;
    }
    #enter-button {
        width: 20%;
        margin-top: 30px;
    }

    #car {
        object-fit: contain;
        width: auto; 
        max-width: 100%; 
        max-height: 30vh; 
    }
    .form-row {
        display: grid;
        grid-template-columns: 1fr; /* One column layout */
        grid-gap: 0; /* Space between label and input */
    }

    .form-row label, 
    .form-row input[type="text"],
    .form-row input[type="number"],
    .form-row input[type="email"],
    .form-row input[type="tel"],
    .form-row input[type="date"] {
        width: 100%; /* Full width for smaller screens */
    }

    .form-row input[type="checkbox"] {
        justify-self: start; /* Align checkbox to the start */
    }

    .enter-form-container {
        display: block;
        max-height: 500px; /* Adjust as needed */
        overflow-y: auto; /* Enables vertical scrolling */
    }
    
    .questions-and-responses {
        display: block;
        overflow-y: auto; /* Enables vertical scrolling for the form content */
        max-height: 450px; /* Slightly less than the container to ensure visibility */
        font-size: 12px;
    }

    .questions-and-responses input {
        height: 17.5px;
        padding: 5px;
    }

    #rules-description {
        font-size: 2.5vw;
        padding: 0 20%;
        margin: 0;
        max-width: 100%;
    }

    #rules-list {
        max-width: 100%;
        padding: 0 10%;
        margin: 5% 0 0 0;
    }

    .rule-item {
        font-size: 1.4vw;
    }

    .enter-container {
        width: 90%; /* Adjusted for better form visibility */
    }

    .enter-form-container {
        padding: 5px;
    }
    

}

@media only screen and (max-width: 600px) {
    .text-container, .image-container {
        width: 100%;
        padding: 10px; /* Add some padding for spacing */
    }
    header {
        flex-direction: column;
        align-items: center;
    }

    #menu {
        width: 100%; /* Full width for smaller screens */
        justify-content: flex-end;
    }

    .menu-item {
        width: auto; /* Allow each item to size itself */
        margin: 10px 0; /* Add some vertical spacing between items */
        min-width: 75px;
    }

    #menu a {
        font-size: 16px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
    }

    #logo-image {
        position: fixed;
        left: 0;
        top: 0;
        width: auto;
        height: 10%;
        min-height: 60px;
    }

    .rule-item {
        font-size: 12px;
        padding: 2.5%;
    }

    #rules-description {
        font-size: 16px;
        
    }

    .enter-description-container {
        font-size: 13px;
        padding: 2.5%;
        flex-basis: 25%;
    }

    .enter-form-container {
        flex-basis: 75%;
    }

    .enter-container {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .submit-row {
        margin: 0;
    }

    #enter-title {
        margin-bottom: 30px;
    }
}

